* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", system-ui, sans-serif;
    line-height: 1.5;
}

.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: rgb(3, 154, 214);
    grid-column: 1;
    grid-row: 1 / 3;
    height: 100vh;
    padding: 15px 0 15px 10px;
    color: white;
    font-weight: 500;

    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    row-gap: 40px;
}

.sidebar-header svg {
    fill: white;
    width: 35px;
    height: 35px;
}

.sidebar-header {
    grid-row: 1;
    font-size: 1.3rem;
}

.sidebar-main {
    grid-row: 2;
}

.sidebar-footer {
    grid-row: 3;
}

.sidebar-header,
.sidebar-main,
.sidebar-footer {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 15px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-icon {
    flex: 1;
}

.sidebar-label {
    flex: 5;
}

.sidebar-main svg,
.sidebar-footer svg {
    fill: white;
    width: 20px;
    height: 20px;
}

.header {
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    padding: 15px 50px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 30px;
}

.header svg {
    width: 20px;
    height: 20px;
}

.header-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search input {
    flex: 1;
    border: none;
    border-radius: 20px;
    max-width: 600px;
    height: 25px;
    background-color: rgb(233, 242, 252);
}

.header-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    gap: 25px;
}

.header-user img {
    width: 25px;
    height: 25px;
}

.header-greeting {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 30px;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.header-buttons button {
    background-color: rgb(3, 154, 214);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.greeting-text {
    display: flex;
    flex-direction: column;
}

.header-greeting img {
    width: 60px;
    height: 60px;
}

.main-content {
    background-color: rgb(233, 242, 252);
    grid-column: 2;
    grid-row: 2;
}

